In [1]:
import pandas as pd
df = pd.read_csv('../data/ch1_sport_test.csv', index_col='학생번호')
df

      학년    악력  윗몸일으키기  점수  순위
학생번호
1      1  40.2      34  15   4
2      1  34.2      14   7  10
3      1  28.8      27  11   7
4      2  39.0      27  14   5
5      2  50.9      32  17   2
6      2  36.5      20   9   9
7      3  36.6      31  13   6
8      3  49.2      37  18   1
9      3  26.0      28  10   8
10     3  47.4      32  16   3

In [3]:
df['악력'] # Series

학생번호
1     40.2
2     34.2
3     28.8
4     39.0
5     50.9
6     36.5
7     36.6
8     49.2
9     26.0
10    47.4
Name: 악력, dtype: float64

In [4]:
# Section 1.1
df.shape

(10, 5)

In [ ]:
# Section 1.2 변수 종류
# Section 1.2.2
# 질적변수(명의척도/순서척도) = 설문만족도, 혈액형 
#  - 명의척도(비교와 계산이 의미없음): 학생번호, 성별, 전화번호 
#  - 순서척도(순서관계나 대소관계가 의미있음,비교는 의미있으나 계산은 의미없음): 성적순위, 설문조사의 만족도
# 양적변수(간격척도/비례척도) = 시험점수, 키
#  - 간격척도(대소관계와 함께 그 차이에도 의미를 갖는다): 연도, 온도(60도는 30도의 2배가 아니다)
#  - 비례척도(대소관계,차이,비 모두 의미있음.): 길이, 무게
#  간격척도와 비례척도 구별법: '0 이 없음'을 나타내면 비례척도 

# Section 1.2.3
# 이산형변수와 연속형변수
#  - 이산형변수(Discrete): 결석횟수, 학생수
#  - 연속형변수(Continuous): 길이, 무게, 시간